.app {
  text-align: center;
  font-family: Roboto;
}

.app-logo {
  height: 40vmin;
}

.app-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
}

.app-link {
  color: #09d3ac;
}

.title {
  flex-grow: 1;
}
