.app {
  text-align: center;
  font-family: Roboto;
}

.app-logo {
  height: 40vmin;
}

.app-link {
  color: #09d3ac;
}

.title {
  flex-grow: 1;
}

.dismiss-all {
  cursor: pointer;
  margin-top: 100px;
  margin-bottom: 50px;
}

.empty-page {
  margin-top: 84px;
}

.refresh-link {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
